<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dxc.openShopReport.dao.BrandMapper">
  <resultMap id="BaseResultMap" type="com.dxc.openShopReport.model.Brand">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="brandId" jdbcType="INTEGER" property="brandid" />
    <result column="brandName" jdbcType="VARCHAR" property="brandname" />
    <result column="branJson" jdbcType="CHAR" property="branjson" />
  </resultMap>

  <select id="getJsonContentByName" parameterType="java.lang.String" resultType="java.lang.String">
    select branJson from brand where brandName=#{name}
  </select>
</mapper>